# Authentication
ADMIN_PASSWORD="change_me"
JWT_SECRET_KEY="change_me"
JWT_REFRESH_SECRET_KEY="change_me"
# JWT_EXPIRATION_TIME="change_me" - default=1800 (30 minutes)
# JWT_REFRESH_EXPIRATION_TIME="change_me" - default=604800 (7 days)

# Database
# POSTGRES_PORT="change_me" - default=5432
POSTGRES_DB="change_me"
POSTGRES_USER="change_me"
POSTGRES_PASSWORD="change_me"
POSTGRES_DATASET="change_me"

# Cookie
# COOKIE_SECURE="change_me" - default=true
COOKIE_DOMAIN="change_me"

# Application
# DEBUG="change_me" # default=false
ALLOWED_ORIGINS="change_me"
